
<!--<p>firstname:<input type="text" name="fname"></p><br>-->
 <!-- <p>The post script works</p> --> 
<!-- <textarea rows="6" value="newPost" #postInput ></textarea><br> -->
<!-- <button>Save Post</button> -->
<!-- <button (click) = "onAddPost(postInput)" >Save Post</button> -->
<!-- <p>{{ newPost }}</p> -->


<!-- option 2-->
<!-- <textarea rows="6" [(ngModel)] ='enteredValue'></textarea>   this is for option 2--> 
<!--
<mat-card>
    <mat-form-field>
        <input matInput type="text" [(ngModel)] = 'enteredTitle' placeholder="Post Title*"> 
    </mat-form-field>
    <mat-form-field>
        <textarea  matInput rows="6" [(ngModel)] ='enteredContent' placeholder="Post Content*"></textarea> 
    </mat-form-field>
    <button mat-raised-button color = "primary" (click) = "onAddPost()" >Save Post</button>
</mat-card>
<br>
-->
<!--<p>{{ newPost }}</p>  ** This is removed step 2.7.3--> 
<mat-card>
    <form (submit) = "onAddPost(postForm)" #postForm="ngForm"> 
        <mat-form-field>
            <input placeholder = "Post Title" matInput type="text" minlength="3" required name="title" #title="ngModel" ngModel>
            <mat-error *ngIf="title.invalid">Please enter a Post Title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea placeholder = "Post Content" matInput rows="4" required name="content" #content="ngModel" ngModel></textarea>
            <mat-error *ngIf="content.invalid">Please enter a post Content</mat-error>            
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save Post</button>
    </form>
</mat-card>
